name: All tests

on:
  workflow_run:
    workflows: [Bump version]
    types:
      - completed
  workflow_dispatch:
    inputs: {}


jobs:
  test-install-on-posix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{
            hashFiles('ci/_github_actions_cache.yml') }}
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: "mcquic"
          channel-priority: strict
          environment-file: ci/_github_actions_cache.yml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Install and test mcquic
        run: |
          ./install.sh
          eval "$(conda shell.bash hook)"

          conda activate mcquic

          if ! command -v mcquic &> /dev/null
          then
              exit 1
          fi
          mcquic -qp 2 assets/sample.png ./
          mcquic ./sample.mcq ./
          mcquic --help
          mcquic train --help
          mcquic validate --help
          mcquic dataset --help
          mcquic-train --help
          mcquic-validate --help
          mcquic-dataset --help
      - name: Test complete
        run: echo "All install test completed."
  test-install-on-windows:
    # The type of runner that the job will run on
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{
            hashFiles('ci/_github_actions_cache.yml') }}
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: "mcquic"
          channel-priority: strict
          environment-file: ci/_github_actions_cache.yml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Install mcquic
        run: |
          C:\Miniconda\shell\condabin\conda-hook.ps1
          conda init powershell
          "if (test-path $PROFILE.CurrentUserAllHosts) { & $PROFILE.CurrentUserAllHosts}"
          'y' | powershell -ExecutionPolicy ByPass -file "./install.ps1"
      - name: Test mcquic
        run: |
          C:\Miniconda\shell\condabin\conda-hook.ps1
          conda init powershell
          "if (test-path $PROFILE.CurrentUserAllHosts) { & $PROFILE.CurrentUserAllHosts}"
          conda activate mcquic
          mcquic -qp 2 assets/sample.png ./
          mcquic ./sample.mcq ./
          mcquic --help
          mcquic train --help
          mcquic validate --help
          mcquic dataset --help
          mcquic-train --help
          mcquic-validate --help
          mcquic-dataset --help
      - name: Test complete
        run: echo "All install test completed."
  test-conda-installation:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{
            hashFiles('ci/_github_actions_cache.yml') }}
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-activate-base: true
          activate-environment: ""
          channel-priority: strict
          environment-file: ci/_github_actions_cache.yml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: Install and test mcquic (windows)
        if: matrix.os == 'windows-latest'
        run: |
          C:\Miniconda\shell\condabin\conda-hook.ps1
          conda init powershell
          "if (test-path $PROFILE.CurrentUserAllHosts) { & $PROFILE.CurrentUserAllHosts}"
          conda activate
          conda install -y python=3.9 "torchvision>=0.12,<1" "pytorch>=1.11,<2" -c pytorch
          conda install -y mcquic -c xiaosu-zhu -c conda-forge
          mcquic -qp 2 assets/sample.png ./
          mcquic ./sample.mcq ./
          mcquic --help
          mcquic train --help
          mcquic validate --help
          mcquic dataset --help
          mcquic-train --help
          mcquic-validate --help
          mcquic-dataset --help
      - name: Install and test mcquic (posix)
        if: matrix.os != 'windows-latest'
        run: |
          eval "$(conda shell.bash hook)"
          conda activate
          conda install -y python=3.9 "torchvision>=0.12,<1" "pytorch>=1.11,<2" -c pytorch
          conda install -y mcquic -c xiaosu-zhu -c conda-forge
          mcquic -qp 2 assets/sample.png ./
          mcquic ./sample.mcq ./
          mcquic --help
          mcquic train --help
          mcquic validate --help
          mcquic dataset --help
          mcquic-train --help
          mcquic-validate --help
          mcquic-dataset --help
      - name: Test complete
        run: echo "All install test completed."
